body{
    width: 900px;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:hsl(228, 33%, 97%);
    font-family: 'Rubik', sans-serif;
}
.upVote {
    padding-left: 15px;
}
.upVote>p{
    display: flex;
    flex-direction: column;
    background-color:  rgb(202, 211, 211);
    padding:15px;
    text-align: center;
    border-style: hidden;
    border-radius: 8px;

}

.topLine {
    /* border: 1px solid salmon; */
    padding-left: 15px;
    padding-right: 15px;

}
.topLine>p{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid salmon; */
}
.topLine>p>span{
    padding-right: 35px;
}

.container.reCom {
    align-self: flex-end;
    max-width: 750px;
    margin: 15px;
    margin-right: 35px;

}
.container{
    display: flex;
    flex-direction: row;
    max-width: 850px;
    background-color: rgb(255, 255, 255);
    margin: 15px;
    border-style: hidden;
    border-radius: 16px;

};


/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */
.voteIcon{

};
/* ------------------------------------------------------------------------------------------ */
.linkText{

};
/* ------------------------------------------------------------------------------------------ */
.you{

};
/* ------------------------------------------------------------------------------------------ */
.notYou{

};
/* ------------------------------------------------------------------------------------------ */
.e0{

};
/* ------------------------------------------------------------------------------------------ */
.e1 {

};
/* ------------------------------------------------------------------------------------------ */
.e2{

};
/* ------------------------------------------------------------------------------------------ */
.e3 {

};
/* ------------------------------------------------------------------------------------------ */
.e4{

};
/* ------------------------------------------------------------------------------------------ */
.e5 {

};
/* ------------------------------------------------------------------------------------------ */
.e6 {

};
/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------ */

