.material-icons{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: hsl(237, 39%, 65%);
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

body {
    width: 750px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(228, 33%, 97%);
    font-family: 'Rubik', sans-serif;
}

.upVote {
    padding-left: 15px;
}

.upVote > p {
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 229, 229);
    padding: 5px;
    text-align: center;
    border-style: hidden;
    border-radius: 8px;
}

.upVote > p > span.number {
    color: hsl(238, 40%, 52%);
    font-weight: 500;
}

.upVote > p > span > button {
    border-style: hidden;
    border-radius: 4px;
    background-color: transparent;
    margin-top: 4px;
    margin-bottom: 4px;
}

.upVote > p > span > button> span:hover {
    color: hsl(238, 40%, 52%);
    font-weight: bolder;
    cursor: pointer;
}

.upVote > p > span > button:active {
    transform: translateY(2px);
}

.topLine {
    padding-left: 15px;

}

.topLine > p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.topLine > p > span.N0 {

}

.topLine > p > span > img {
    max-height: 40px;
}

.topLine > p > span.N1 {
    color: black;
    font-weight: bolder;
}

.topLine > p > span.N3 {
    color: rgb(190, 190, 190);

}
.topLine > p > span> button.reply{
    background-color: transparent;
    border-style: hidden ;
    padding-left:200px;
    padding-right: 25px;
    font-weight: 700;

    color: hsl(228, 40%, 52%);
}

.topLine > p > span > button.reply> span.material-icons{
    color: hsl(228, 40%, 52%);

}

.topLine > p > span > button.reply:hover{
    color: hsl(228, 31%, 64%);

}
.topLine > p > span > button.reply:active{
    transform: translateY(2px)

}
.topLine > p > span>button.delete{
    background-color: transparent;
    border-style: hidden;
    color: hsl(228, 40%, 52%);
    font-weight: 700;

}
.topLine > p > span > button.delete:hover{
    color: hsl(228, 31%, 64%);

}
.topLine > p > span > button.delete:active{
    transform: translateY(2px)

}
.topLine > p > span > button.delete > span.material-icons{
    color: hsl(228, 40%, 52%);

}
.topLine > p > span>button.edit{
    background-color: transparent;
    border-style: hidden;
    font-weight: 700;
    color: hsl(228, 40%, 52%);
    padding-right: 25px;

}
.topLine > p > span > button.edit:hover{
    color: hsl(228, 31%, 64%);

}
.topLine > p > span > button.edit:active{
    transform: translateY(2px)

}
.topLine > p > span > button.edit > span.material-icons{
    color: hsl(228, 40%, 52%);

}
#you{
    background-color: hsl(228, 40%, 52%);
    color: hsl(228, 33%, 97%);
    padding: 3px 6px 6px 6px;
    border-radius: 2px;
}

.container.ogCom {
    align-self: flex-end;
    max-width: 750px;
    margin: 15px;
    margin-right: 20px
}

.container.reCom {
    align-self: flex-end;
    max-width: 600px;
    margin: 15px;
    margin-right: 20px;
}

.container.comment > p {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.container.comment > p > span {
    padding-right: 35px;
}

.container.comment > p > span > img {
    max-height: 40px;
    padding-left: 30px;
    margin-bottom: 60px;
}

.container.comment > p > span > textarea {
    border-radius: 8px;
    border-color: lightgray;
    width: 400px;
    height: 75px;
    padding: 12px 20px;
    font-family: 'Rubik', sans-serif;
    resize: none;
}

.container.comment > p > span > textarea::placeholder {
    color: black;
}

.container.comment > p > span > button {
    border-radius: 8px;
    border-style: hidden;
    background-color: hsl(238, 40%, 52%);
    color: hsl(228, 33%, 97%);
    width: 100px;
    height: 45px;
    margin-bottom: 60px;
}

.container.comment > p > span > button:hover {
    background-color: transparent;
    border: 3px solid hsl(238, 40%, 52%);
    color: hsl(238, 40%, 52%);
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 2.5px 2.5px grey;
}

.container.comment > p > span > button:active {
    transform: translateY(2px)
}

.topLine > div.bottomLine {
    padding-bottom: 10px;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    margin: 15px;
    border-style: hidden;
    border-radius: 16px;
}

footer {
    height: 100px;
}

.attribution {
    align-self: center;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}